@use "../base/vars" as *;
@use "../base/mixins" as *;

#header {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	transition: background 0.3s ease-in-out;

	&.sticky {
		box-shadow: 0 0 30px -10px rgba(#000, 0.2);

		.wrap {
			@include breakpoint(min-tablet) {
				padding-top: 2rem;
				padding-bottom: 2rem;
			}
		}
	}

	.wrap {
		position: relative;
		padding-top: 3rem;
		padding-bottom: 3rem;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 3rem;
		transition: padding 0.3s ease-in-out;

		@include breakpoint(max-tablet) {
			padding-top: 1rem;
			padding-bottom: 1rem;
			gap: 1.5rem 3rem;
		}
	}

	.logo {
		font-size: clamp(2.4rem, 5vw, 3rem);
		color: $color_primary;
		font-family: $secondary_font;
		margin-right: auto;
		line-height: 1;

		@include breakpoint(max-tablet) {
			font-size: 2.6rem;
		}

		span {
			color: $color_secondary;
		}
	}

	.nav {
		@include breakpoint(max-tablet) {
			width: 100%;
			order: 3;
		}

		.menu {
			display: flex;
			gap: 2rem;

			@include breakpoint(max-tablet) {
				justify-content: center;
			}
		}

		a {
			color: $color_primary;
			text-decoration: none;

			&:hover {
				color: $color_secondary;
				text-decoration: underline;
			}
		}
	}

	.basket-trigger {
		@include breakpoint(max-tablet) {
			padding: 1rem;

			span {
				display: none;
			}
		}
	}

	.mini-total {
		width: 3rem;
		height: 3rem;
		background-color: $color_secondary;
		color: #fff;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.4rem;
		font-weight: 800;
		margin-left: -2rem;
		transition: transform 0.3s ease-in-out;

		&.animate {
			transform: scale(1.3);
		}
	}
}

#page-banner {
	background-color: $color_secondary;
	color: #fff;
	margin-bottom: 5rem;
	margin-top: 10rem;

	.wrap {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	h2 {
		font-size: clamp(2.4rem, 5vw, 2.6rem);
		font-family: $secondary_font;
	}
}

#footer {
	background-color: rgba($color_primary, 0.8);
	color: #fff;
	padding-top: 2rem;
	padding-bottom: 2rem;

	.wrap {
		text-align: center;
		font-size: 1.4rem;
	}
}
