@use "./vars" as *;

// Animation

@keyframes spin {
	to {
		-webkit-transform: rotate(360deg);
	}
}

// animation fade-in-up
@keyframes fade-in-up {
	0% {
		opacity: 0;
		transform: translateY(3rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

// Classes

.wrap {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	padding-left: 3rem;
	padding-right: 3rem;
}

button,
.btn {
	cursor: pointer;
	border: none;
	border-radius: 3px;
	padding: 1.2rem 1.7rem;
	line-height: 1;
	font-size: 1.6rem;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	transition: background-color 0.3s ease;

	svg {
		width: 2rem;
		height: 2rem;
	}

	&-primary {
		background-color: $color_primary;
		color: #fff;

		&:hover {
			background-color: $color_secondary;
		}
	}

	&-secondary {
		background-color: $color_secondary;
		color: #fff;

		&:hover {
			background-color: $color_primary;
		}
	}
}

.loading-block {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3rem;
	min-height: 300px;

	.loading-spinner {
		display: inline-block;
		width: 50px;
		height: 50px;
		border: 3px solid rgba(0, 0, 0, 0.1);
		border-radius: 50%;
		border-top-color: $color_primary;
		animation: spin 1s ease-in-out infinite;
	}
}

.home-title {
	text-align: center;
	font-size: 4rem;
	font-weight: 350;
	line-height: 1.33;
	color: $color_secondary;
	margin: 12rem 0;

	a {
		color: $color_primary;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}
