// Colors
$color_primary: #0b101f;
$color_secondary: #413e87;
$color_light_grey: #f5f5f5;
$color_dark_grey: #333;

// Fonts
$primary_font: "notoSans", sans-serif;
$secondary_font: "changaOne", serif;
